primefaces-ex-cropimage-netbeans/target/
primefaces-ex-cropimage-netbeans/nbproject/
primefaces-ex-cropimage-netbeans/build/
primefaces-ex-cropimage-netbeans/dist/
ocjp6/nbproject/
java6-generics-nb/nbproject/

# netBeans all
build.xml
manifest.mf

# java files all
*.class
*.jar
*.war
*.ear

# photoshop
*.psd
 
# media files
*.mpg
*.mp3
*.mp4
*.avi
*.mkv
 
# compressed files
*.zip
*.rar
*.tar
*.tar.gz
*.tgz
 
# mac all
.DS_Store
*.dmg
/java6-generics-nb/nbproject/private/
/ocjp6/build/
/ocjp6/JavaApplication18/nbproject/private/
/ocjp6/modificador-static/nbproject/private/
/ocjp6/modificador-static/build/
/ocjp6/classes/nbproject/private/
/ocjp6/polimorfismo/nbproject/private/
/ocjp6/polimorfismo/build/