
ocjp6/nbproject/
java6-generics-nb/nbproject/


# netBeans all
build.xml
manifest.mf

# java files all
*.class
*.jar
*.war
*.ear

# photoshop
*.psd
 
# media files
*.mpg
*.mp3
*.mp4
*.avi
*.mkv
 
# compressed files
*.zip
*.rar
*.tar
*.tar.gz
*.tgz
 
# mac all
.DS_Store
*.dmg


# Projects

/ocjp6/build/
/ocjp6/JavaApplication18/nbproject/private/
/ocjp6/modificador-static/nbproject/private/
/ocjp6/modificador-static/build/
/ocjp6/classes/nbproject/private/
/ocjp6/polimorfismo/nbproject/private/
/ocjp6/polimorfismo/build/
/mongo-db-test/target/
/mongodb-dbobject-ex/target/
/mongodb-insert-ex/target/

primefaces-ex-cropimage-netbeans/target/
primefaces-ex-cropimage-netbeans/nbproject/
primefaces-ex-cropimage-netbeans/build/
primefaces-ex-cropimage-netbeans/dist/

ocjp6-primitives/nbproject/
ocjp6-primitives/build/

ocjp6-assertions/nbproject/
ocjp6-assertions/build/

ocjp6-exceptions/nbproject/
ocjp6-exceptions/build/

ocjp6-enums/nbproject/
ocjp6-enums/build/

ocjp6-initblocks/nbproject/
ocjp6-initblocks/build/

ocjp6-wrappers/nbproject/
ocjp6-wrappers/build/

ocjp6-methods/nbproject/
ocjp6-methods/build/

ocjp6-generics/nbproject/
ocjp6-generics/build/